.area-luta{
    display: flex;
    gap: 20px;
}

.area-jogador,
.area-npc{
    flex: 1;
}

.barra-de-vida{
    height: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.barra-de-vida .barra{
    width: 10%;
    height: inherit;
    background-color: #F00;
    border-radius: 5px;
}

.log{
    border: 1px dashed black;
    height: 200px;
    overflow-y: scroll;
}